<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="18"
    android:versionName="1.12">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="READ_MEDIA_IMAGES" />
    <uses-permission android:name="READ_MEDIA_VIDEO" />
    <uses-permission android:name="READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".AdFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ad_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".ListaPrzebojowDiscoPolo"
            android:configChanges="locale"
            android:theme="@style/AppCustomTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".OProgramie"
            android:label="@string/title_activity_oprogramie"
            android:theme="@style/AppCustomThemeOProgramie" />
        <activity
            android:name=".UtworyWykonawcy"
            android:label="@string/title_activity_utwory_wykonawcy"
            android:theme="@style/AppCustomTheme" />
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppCustomTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9534304538332188~6762519752"
            />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>